body {
    background-color: cornflowerblue;
}

header > h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
}

header > p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

form {
    margin: 1rem auto 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    color: white;
}

form label {
    width: 40%;
}

form input {
    border-style: none;
    border-radius: 5px;
    margin-left: 1rem;
    padding-left: 0.5rem;
    width: 70%;
}

.board {
    width: 600px;
    height: 600px;
    background-color: white;
    margin: 2rem auto 0 auto;
    display: flex;
    position: relative;
}

.board-column {
    width: 200px;
    height: 600px;
}

.verticle-line-1, .verticle-line-2 {
    height: 600px;
    width: 12px;
    background-color: black;
}

.verticle-line-1 {
    position: absolute;
    left: 194px;
}

.verticle-line-2 {
    position: absolute;
    left: 394px;
}

.horizontal-line {
    background-color: black;
    height: 12px;
    width: 100%;
}

.board-location {
    width: 100%;
    height: 192px;
}

.message-board {
    width: 100%;
    height: 2rem;
    margin: 1rem auto 0 auto;
    color: white;
    text-align: center;
}

.board-location > p {
    text-align: center;
    margin: auto;
    font-size: 10rem;
}

.winning-board {
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 300px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    left: 50%;
    top: -1000px;
    margin-left: -200px;
    margin-top: -150px;
}

.winning-board > span {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.winning-board > h2 {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    margin-top: 2rem;
}

.winning-board-show {
    top: 50%;
    transition: top 1.5s;
}

.winner-paragraph {
    margin-top: 5rem;
    font-size: 1.25rem;
    text-align: center;
}

.disabled {
    background-color: grey;
}

.btn-reset {
    display: block;
    border-style: none;
    border-radius: 5px;
    margin: 60px auto 0 auto;
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
    font-size: 2rem;

}